<div class="todo-container">
  <h1>My Todo List app</h1>
  <mat-divider></mat-divider>

  <div *ngIf="todos$ | async as todos;">
    <div>
      <mat-form-field class="example-form-field" style="width: 90%;">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="decription">
          <button *ngIf="decription" matSuffix mat-icon-button aria-label="Clear" (click)="decription=''">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
      <button [disabled]="!decription" mat-flat-button extended (click)="addTodo(todos.length + 1)">
        <mat-icon>add</mat-icon>
        Add a task
      </button>
    </div>
    <div>    
      <ul *ngIf="todos.length; else empty">

      <li *ngFor="let todo of todos$ | async; let i = index;">
        <app-todo-item [todo]="todo"></app-todo-item>
      </li>
      </ul> 
      <ng-template #empty>
        <div>Add a task !</div>
      </ng-template>
    </div>
  </div>
</div>